body{
    background-image: url(backgroundImg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    margin: 20px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: navy;
}

#searchBar{
    margin: 20px;
    text-align: center;
}

#searchBox{
    width: 50%;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border: 2px solid black;
}

#searchBtn{
    font-size: 20px;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 20px;
}

#searchBtn:hover{
    background-color: bisque;
    color: crimson;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.weatherStyle{
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    border: 4px solid white;
    border-radius: 30px;
    color: whitesmoke;
    background-color: black;
    box-shadow: 8px 8px grey;
}
